{% extends "core/general.html" %}
{% block title %}Творческие коллективы{% endblock %}
{% block content %}
    <h1 style="text-align: center; color: black; font-family: Luminari, fantasy">Список отделов</h1>
    <div style="text-align: center; font-size: 25px">
        <a style="font-family: FreeMono, monospace" href="http://gomelpalace.by/informacionno-metodicheskij-otdel/">
            1. Информационно-методический отдел
        </a> <br/>
        <a style="font-family: FreeMono, monospace" href="http://gomelpalace.by/otdely/otdel-organizacionno-massovoj-raboty/">
            2. Отдел организационно-массовой работы
        </a> <br/>
        <a style="font-family: FreeMono, monospace" href="http://gomelpalace.by/otdely/otdel-xudozhestvennogo-tvorchestva/">
            3. Отдел художественного творчества
        </a> <br/>
        <a style="font-family: FreeMono, monospace" href="http://gomelpalace.by/otdely/otdel-dekorativno-prikladnogo-i-izobrazitelnogo-tvorchestva/">
            4. Отдел декоративно-прикладного и изобразительного творчества
        </a> <br/>
        <a style="font-family: FreeMono, monospace" href="http://gomelpalace.by/otdely/otdel-po-rabote-s-detskimi-i-molodyozhnymi-organizaciyami-obedineniyami/">
            5. Отдел по работе с детскими и молодёжными организациями, объединениями
        </a> <br/>
        <a style="font-family: FreeMono, monospace" href="http://gomelpalace.by/otdely/otdel-kompyuternoj-texniki-i-programmirovaniya/">
            6. Отдел компьютерной техники и программирования
        </a> <br/>
        <a style="font-family: FreeMono, monospace" href="http://gomelpalace.by/otdely/otdel-menedzhmenta-i-informacionno-reklamnoj-deyatelnosti/">
            7. Отдел менеджмента и информационно-рекламной деятельности
        </a> <br/>
        <a style="font-family: FreeMono, monospace" href="http://gomelpalace.by/otdel-po-proforientacii-uchashhixsya/">
            8. Отдел по профориентации учащихся
        </a> <br/>
    </div>
{% endblock %}