{% extends "core/general.html" %}
{% load static %}
{% block title %}Информация о сотрудниках{% endblock %}
{% block content %}
    <div>
    <h1 style="text-align: center; font-family: Luminari, fantasy">Информация о сотрудниках</h1>
    <div class="container" style="">
        <div class="row">
            <div class="col-sm" style="border: 1px solid black; background-color: #f0e68c">
                <img src="{% static 'photo/Бокунь-196x300.jpg' %}"
                     style="margin-left: 11%" alt="">
                <p style="text-align: center">
                    <strong>ЗАВЕДУЮЩИЙ ОТДЕЛОМ</strong><br>
                    Бокунь Надежда Ивановна
                </p>
            </div>
            <div class="col-sm" style="border: 1px solid black; background-color: #f0e68c">
                <img src="{% static 'photo/Пашкова-193x300.jpg' %}" alt=""
                    style="margin-left: 11%">
                <p style="text-align: center">
                    <strong>МЕТОДИСТ</strong><br>
                    Пашкова Зоя Васильевна
                </p>
            </div>
            <div class="col-sm" style="border: 1px solid black; background-color: #f0e68c">
                <img src="{% static 'photo/Косьянова-181x300.jpg' %}" alt=""
                    style="margin-left: 11%">
                <p style="text-align: center">
                    <strong>МЕТОДИСТ</strong><br>
                    Косьянова Марина Григорьевна
                </p>
            </div>
            <div class="col-sm" style="border: 1px solid black; background-color: #f0e68c">
                <img src="{% static 'photo/66391681_429358627922479_8353376186110018390_n-190x300.jpg' %}"
                     alt="" style="margin-left: 11%">
                <p style="text-align: center">
                    <strong>МЕТОДИСТ</strong> <br>
                    Козловская Татьяна Николаевна
                </p>
            </div>
        </div>

        <div style="margin-top: 30px">
            <p style="text-align: justify;"><span style="color: black;">Информационно-методический отдел обеспечивает координацию деятельности методических служб области, осуществляет методическое сопровождение и повышение профессионального мастерства руководителей и педагогов учреждений дополнительного образования детей и молодежи.</span></p>
            <p><span style="color: #000000; font-family: FreeMono, monospace"><strong>Работники отдела курируют:</strong></span></p>
            <p style="text-align: justify;"><span style="color: #000000;"><span style="color: black;"><strong>Бокунь Н.И.:</strong> </span>&nbsp;ГУО «Ельский РЦТДиМ», ГУО «Житковичский РЦТДиМ», ГУО «Туровский ЦТДиМ»,&nbsp; ГУО «Кормянский РЦТДиМ», «ЦТДиМ г.Калинковичи», ГУО «Лельчицкий РЦТДиМ», ГУО «Петриковский РЦТДиМ», ГУО «Копаткевичский ЦТДиМ», ГУО «Чечерский РЦТДиМ», ГУО «Рогачевский РЦТДиМ», ГУО «ЦТДиМ Советского района г.Гомеля», ГУДО «ЦТДиМ &nbsp;Гомельского района»;</span></p>
            <p style="text-align: justify;"><span style="color: #000000;"><strong><span style="color: black;">Пашкова З.В.:&nbsp;</span></strong>ГУО «Лоевский РЦТДиМ»; ГУО «ЦТДИМ «Ювента» г.Светлогорска»; ГУО «Брагинский РЦТДиМ»; ГУО «Речицкий ЦТДиМ»; ГУО «Паричский РЦТДиМ»; ГУО «ЦТДиМ &nbsp;Железнодорожного района г.Гомеля»;</span></p>
            <p style="text-align: justify;"><span style="color: #000000;"><span style="color: black;"><strong>Косьянова М.Г.:&nbsp;</strong></span>ГУО «Буда-Кошелевский РЦТДиМ»; ГУО «Уваровичский ЦДТ Буда-Кошелевского района»; ГУО «Ветковский РЦТДиМ»; ГУО «Мозырский ЦТДиМ»; ГУО «Наровлянский РЦТДиМ»; ГУО «ЦТДиМ г.Хойники»; ГУО «Октябрьский РЦТДиМ»; &nbsp;ГУО «Гомельский городской центр &nbsp;дополнительного образования детей и молодежи»;</span></p>
            <p style="text-align: justify;"><span style="color: #000000;"><strong><span style="color: black;">Козловская Т.Н.:&nbsp;</span></strong>ГУО «Добрушский центр дополнительного образования»; ГУО «Тереховский ЦТДиМ Добрушского района»; ГУО «Жлобинский РЦТДиМ»; ГУО «Жлобинский городской ЦТДиМ «Эврика»; ГУО «ЦТДиМ Центрального района г.Гомеля», ГУО «ЦТДиМ &nbsp;Новобелицкого района&nbsp; г.Гомеля».</span></p>
        </div>

        <div>
            <p style="text-align: justify;"><strong><span style="color: black; font-family: FreeMono, monospace">Направления деятельности:</span></strong></p>
            <ul>
                <li style="text-align: justify;"><span style="color: #000000;">организационно-методическая и учебно-методическая работа;</span></li>
                <li style="text-align: justify;"><span style="color: #000000;">информационно-методическая деятельность;</span></li>
                <li style="text-align: justify;"><span style="color: #000000;">методическое обеспечение организации летней оздоровительной кампании.</span></li>
            </ul>
            <p style="text-align: justify;"><span style="color: black; font-family: FreeMono, monospace"><strong>Основные формы работы:</strong></span></p>
            <ul>
                <li style="text-align: justify;"><span style="color: #000000;">семинары руководителей;</span></li>
                <li style="text-align: justify;"><span style="color: #000000;">семинары методистов;</span></li>
                <li style="text-align: justify;"><span style="color: #000000;">инструктивно-методические совещания заместителей директоров по учебно-воспитательной работе, заведующих отделами;</span></li>
                <li style="text-align: justify;"><span style="color: #000000;">организация и проведение методических выставок, конкурсов;</span></li>
                <li style="text-align: justify;"><span style="color: #000000;">консультирование педагогических работников по различным вопросам повышения качества дополнительного образования;</span></li>
                <li style="text-align: justify;"><span style="color: #000000;">методическое сопровождение курсов повышения квалификации для педагогических работников учреждений дополнительного образования (совместно с ГОИРО).</span></li>
            </ul>
            <p style="text-align: justify;"><span style="color: black; font-family: FreeMono, monospace"><strong>Базы данных:</strong></span></p>
            <ul>
                <li style="text-align: justify;"><span style="color: #000000;">педагогические кадры учреждений дополнительного образования детей и молодежи Гомельской области;</span></li>
                <li style="text-align: justify;"><span style="color: #000000;">детские творческие коллективы области;</span></li>
                <li style="text-align: justify;"><span style="color: #000000;">программы объединений по интересам;</span></li>
                <li style="text-align: justify;"><span style="color: #000000;">лучший опыт работы педагогов;</span></li>
                <li><span style="color: #000000;">видеотеки.</span></li>
            </ul>
            <p style="text-align: justify;"><strong><span style="color: black; font-family: FreeMono, monospace">Разработка и распространение методической продукции:</span></strong></p>
            <ul>
                <li style="text-align: justify;"><span style="color: #000000;">методические рекомендации;</span></li>
                <li><span style="color: #000000;">альманах «От идеи до результата»;</span></li>
                <li style="text-align: justify;"><span style="color: #000000;">сборники, пособия;</span></li>
                <li style="text-align: justify;"><span style="color: #000000;">справочные издания.</span></li>
            </ul>
        </div>
    </div>
    </div>
{% endblock %}