<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'bootstrap4/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap4/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap4/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap4/bootstrap.min.js' %}"></script>
    <title>Вход</title>
</head>
<body style="background-image: url({% static 'icons/Картинка на главную.jpg' %}); background-size: cover;">

<div style="display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;">
    <form method="post" style="display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: azure;
    border-radius: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px solid blueviolet;">
    {% if form.errors %}
        <div class="alert alert-danger" role="alert"  >{{ form.non_field_errors }}</div>
    {% endif %}
         <a class="col btn  center bolt" style= "color: #74cee4;font-size: 20px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;" href="{% url "main_page" %}"><span>
                <h1 style="font-family: fantasy;">Введите логин и пароль</h1>
            </span></a>
    <p><em style="color: #74cee4;
    font-weight: 500;
    font-size: 24px;
    font-style: normal;
    font-family: fantasy;">{{ form.username.label }}</em>: &nbsp{{ form.username }}</p>
    <p><em style="    color: #74cee4;
    font-weight: 500;
    font-size: 24px;
    font-style: normal;
    font-family: fantasy;">{{ form.password.label }}</em>:{{ form.password }}</p>
    {% csrf_token %}
    <input class="btn btn-primary btn-lg"  type="submit" value="Войти">
    </form>
</div>
</body>
</html>