<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'bootstrap4/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap4/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap4/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap4/bootstrap.min.js' %}"></script>
    <title>Вход</title>
</head>
<body style="background-image: url('http://0.0.0.0:8000/static/icons/background.jpg'); background-size: cover;">
    <h1 style="text-align: center; font-family: Luminari, fantasy">Дворец творчества детей и молодёжи</h1>
    <h2 style="color: black; text-align: center; font-family: FreeMono, monospace">Электронный кабинет методического отдела</h2>
    <form method="post" style="position: absolute; width: 30%; left: 0; right: 0; margin: 0 auto">
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>
    {% endif %}
    <p><em style="font-family: FreeMono, monospace">{{ form.username.label }}</em>: &nbsp{{ form.username }}</p>
    <p><em style="font-family: FreeMono, monospace">{{ form.password.label }}</em>:{{ form.password }}</p>
    {% csrf_token %}
    <input style="margin-left: 30%" type="submit" value="Войти">
    </form>
</body>
</html>