{% extends "core/general.html" %}
{% block title %}УДОДиМ{% endblock %}
{% block content %}
    <h1 style="text-align: center">Кадры</h1>
    <form method="get">
        <p>{{ form.type.label }}: {{ form.type }}</p>
        {% if name_choice_count %}
            <p>{{ form.name.label }}: {{ form.name }}</p>
        {% endif %}
        <input type="submit" value="Отправить"> <br><hr>
    </form>

    {% if queryset %}
        {% for item in queryset %}
            <p>{{ forloop.counter }}. {{ item.name }} - {{ item.value }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}