{% extends "core/general.html" %}
{% load static %}
{% block title %}Опорные методические площадки{% endblock %}
{% block content %}
<div style="background-color: #bad5dc;">
    <h1 style="text-align: center; font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;color: #711ac1; font-size: 35px">Опорные методические площадки</h1>

    <!--first section-->
    <section class="nicdark_section" >
        <div class="nicdark_container nicdark_clearfix">
            <div class="grid grid_12 percentage ">
                <div class="nicdark_archive1 nicdark_padding010" style="box-sizing:border-box;"><!--featured image-->
                    <!--end featured image-->
                    <!--information bar-->
                    <!--end information bar-->
                    <!--end title-->
                    <!--start title--></div>
            </div>
        </div>
    </section>
    <!--end first section-->
    <!--start content-->
    <section id="" class="nicdark_section  vc_row wpb_row vc_row-fluid">
        <div class="nicdark_container nicdark_vc nicdark_clearfix">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span>
                        </div>

                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <p><span style="color: #0000ff;"><strong><a
                                        href="{% static 'support_place/polozhenie-ob-opornoy-ploschadke.pdf' %}"><span
                                        style="text-align: center; font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;color: #711ac1; font-size: 30px">Положение об опорной методической площадке в системе дополнительного образования детей и молодежи</span></a></strong></span>
                                </p>
                            </div>
                        </div>
                        <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span>
                        </div>
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <p style="display:flex;"><img
                                        class="aligncenter wp-image-19865"
                                        src="{% static 'support_place/model-001-1024x724.jpg' %}"
                                        alt=""
                                        style="    margin-left: auto;
    margin-right: auto;"
                                        sizes="(max-width: 1100px) 100vw, 1100px" width="1100" height="778"></p>
                            </div>
                        </div>
                        <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span>
                        </div>
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <p style="text-align: center;"><span style="text-align: center; font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;color: #032e42; font-size: 25px"><strong>Опорные методические площадки</strong></span><br>
                                    <span style="text-align: center; font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;color: #032e42; font-size: 20px"><strong> УО «Гомельский государственный областной Дворец творчества детей и молодежи»</strong></span>
                                </p>
                                <p style="text-align: center; font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;color: #032e42; font-size: 20px">⊕ <span ><em><strong>Инновационная область «Обновление программно-методического обеспечения дополнительного образования детей и молодежи»</strong></em></span><br>
                                    <span style="text-align: center; font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;color: #032e42; font-size: 20px"><strong>Тема</strong></span> «Внедрение модели
                                    образовательного процесса с повышенным уровнем изучения дисциплин в учреждении
                                    дополнительного образования детей и молодежи».</p>
                                <p><span style=""><strong><a
                                        href="{% static 'support_place/Klimovich.pdf' %}"><span
                                        style="text-align: center; font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;color: #032e42; font-size: 20px">Программа с повышенным уровнем «Клуб интеллектуальных игр «Белая рысь»</span></a></strong></span>
                                </p>
                                <p><strong><span style="color: #ffffff;"><a
                                        href="{% static 'support_place/Pokatashkin.pdf' %}"><span
                                        style="text-align: center; font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;color: #032e42; font-size: 20px">Программа с повышенным уровнем «Народная студия изобразительного творчества»</span></a></span></strong>
                                </p>
                                <p><strong><span style="color: #ffffff;"><a
                                        href="{% static 'support_place/Skakun.pdf' %}"><span
                                        style="text-align: center; font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;color: #032e42; font-size: 20px">Программа с повышенным уровнем «Программирование на языке Turbo Pascal»</span></a></span></strong>
                                </p>
                                <p><span style="color: #003366;"><strong><a
                                        href="{% static 'support_place/programma-web-программирование-2018-повышенный-уровень.pdf' %}"><span
                                        style="text-align: center; font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;color: #032e42; font-size: 20px">Программа</span> <span style="text-align: center; font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;color: #032e42; font-size: 20px">с повышенным уровнем «Основы front-end разработки»</span></a></strong></span>
                                </p>
                                <p style="text-align: justify;">⊕&nbsp;<span style="font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;color: #032e42; font-size: 20px"><em><strong>Инновационная область «Развитие эффективного педагогического опыта и современных практик дополнительного образования детей и молодежи»</strong></em></span>
                                </p>
                                <p style="text-align: justify;">⊕&nbsp;<span style="font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;color: #032e42; font-size: 20px"><em><strong>Инновационная область «Совершенствование системы непрерывного повышения профессиональной компетенции педагогических работников»</strong></em></span><br>
                                    <span style="font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;color: #032e42; font-size: 20px"><strong>Тема</strong> </span>«Информационно-коммуникационные
                                    технологии в образовательном процессе и их роль в повышении профессиональной
                                    компетентности педагогических кадров».<br>
                                    <span style="font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;color: #032e42; font-size: 20px"><strong>Мероприятия:</strong> </span>информация.</p>
                            </div>
                        </div>
                        <div class="vc_empty_space" style="height: 12px"><span class="vc_empty_space_inner"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="" class="nicdark_section  vc_row wpb_row vc_row-fluid">
        <div class="nicdark_container nicdark_vc nicdark_clearfix">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <p style="text-align: center;"><span style="font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;color: #032e42; font-size: 25px"><strong>Адреса лучшего педагогического опыта</strong></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="" class="nicdark_section  vc_row wpb_row vc_row-fluid">
        <div class="nicdark_container nicdark_vc nicdark_clearfix">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="" class="nicdark_section  vc_row wpb_row vc_row-fluid">
        <div class="nicdark_container nicdark_vc nicdark_clearfix">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <ul>
                                    <li style="text-align: justify;"><span style="font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;color: #032e42; font-size: 20px"><strong><a
                                            href="{% static 'support_place/1.docx' %}" rel="">Семинар для руководителей многопрофильных учреждений дополнительного образования «Социальное партнерство как условие устойчивого развития учреждений дополнительного образования детей и молодежи»</a></strong></span>
                                    </li>
                                    <li style="text-align: justify;"><span style="font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;color: #032e42; font-size: 20px"><strong><a
                                            href="{% static 'support_place/Adresa-lychshego-2018.docx' %}">Адреса лучшего педагогического опыта многопрофильных учреждений дополнительного образования детей и молодежи Гомельской области</a>&nbsp;</strong></span>
                                    </li>
                                    <li style="font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;color: #032e42; font-size: 20px"><strong><a
                                            href="{% static 'support_place/%D0%A1%D0%B1%D0%BE%D1%80%D0%BD%D0%B8%D0%BA-%D0%B1%D1%83%D0%BA%D0%BB%D0%B5%D1%82-%D0%BF%D0%BE-%D0%B8%D1%82%D0%BE%D0%B3%D0%B0%D0%BC-%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%8B-%D0%9E%D0%9C%D0%9F-2020-%D0%B3%D0%BE%D0%B4.pdf' %}">Сборник-буклет
                                        «Модель сетевого взаимодействия многопрофильных УДОДиМ Гомельской
                                        области»</a></strong></li>
                                    <li style="font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;color: #032e42; font-size: 20px"><strong><a
                                            href="{% static 'support_place/perechen-OMP.docx' %}">Перечень
                                        опорных методических площадок Гомельской области</a></strong></li>
                                    <li style="font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;color: #032e42; font-size: 20px"><strong><a
                                            href="{% static 'support_place/informasia-Дворца-В-область-по-совершенствованию-№3.docx' %}">Информация
                                        об эффективности деятельности опорной методической
                                        площадки Дворца творчества
                                        </a></strong></li>
                                    <li style="font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;color: #032e42; font-size: 20px"><strong><a
                                            href="{% static 'support_place/itogovaa-informasia.docx' %}">Итоговая
                                        аналитическая информация «Региональный методический кластер: динамика развития»
                                        учреждения образования «Гомельский государственный областной Дворец творчества
                                        детей и молодежи»</a></strong></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="" class="nicdark_section  vc_row wpb_row vc_row-fluid">
        <div class="nicdark_container nicdark_vc nicdark_clearfix">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="vc_empty_space" style="height: 12px"><span class="vc_empty_space_inner"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end content-->
    <!--second section-->
    <section class="nicdark_section">
        <div class="nicdark_container nicdark_clearfix">
            <div class="grid grid_12 percentage">
                <div class="nicdark_archive1 nicdark_padding010" style="box-sizing:border-box;"><!--link pagination-->
                    <div class="nicdark_focus">
                        <div class="singlelinkpages">
                        </div>
                    </div>
                    <!--end link pagination-->
                    <!--start author-->
                    <!--end author-->
                    <!--start comments-->
                    <!--end comments-->    </div>
            </div>
        </div>
    </section>
    </div>
    <!--end second section-->

{% endblock %}