{% extends "core/general.html" %}
{% block title %}Объединения по интересам{% endblock %}
{% block content %}
    <h1 style="text-align: center">Объединения по интересам</h1>
    <form method="get">
        <p>{{ form.type.label }}: {{ form.type }}</p>
        {% if profile_choice_count %}
            <p>{{ form.profile.label }}: {{ form.profile }}</p>
        {% endif %}
        <input type="submit" value="Отправить"> <br><hr>
    </form>
    {% if object %}
        <p>Групп - {{ object.group_value }}</p>
        <p>Учащихся - {{ object.people_value }}</p>
    {% endif %}

{% endblock %}