{% extends "core/general.html" %}
{% block title %}Объединения по интересам{% endblock %}
{% block second_menu %}
    <h1 class="center 'Helvetica Neue',Helvetica, Arial">Объединения по интересам</h1>
    <form method="get">
        <p>{{ form.type.label }}: {{ form.type }}</p>
        {% if profile_choice_count %}
            <p class="free-mono">{{ form.profile.label }}: {{ form.profile }}</p>
        {% endif %}
        <input type="submit" value="Отправить"> <br><hr>
    </form>
    {% if object %}
        <p class="free-mono">Групп - {{ object.group_value }}</p>
        <p class="free-mono">Учащихся - {{ object.people_value }}</p>
    {% endif %}

{% endblock %}